In [1]:
import pandas as pd

In [2]:
pwd

'/Users/vishalendupandey/projects/python/UDEMY_TSA_FINAL/04-Time-Series-with-Pandas'

In [6]:
pd.DataFrame(pd.date_range('2019-01-01','2019-01-10',freq='H')).to_csv('dates.csv',index=False)

In [172]:
log = pd.read_csv('~/Downloads/log.csv',parse_dates=True)

Empty DataFrame
Columns: [Date, API, State, Unnamed: 3, Unnamed: 4, Unnamed: 5]
Index: []

In [13]:
log

            Date API  State
0    1/1/19 0:00   a  start
1    1/1/19 1:00   a    end
2    1/1/19 2:00   a    end
3    1/1/19 3:00   a  start
4    1/1/19 4:00   a    end
5    1/1/19 5:00   b    end
6    1/1/19 6:00   b  start
7    1/1/19 7:00   b    end
8    1/1/19 8:00   c  start
9    1/1/19 9:00   c  start
10  1/1/19 10:00   c    end
11  1/1/19 11:00   c    end
12  1/1/19 12:00   d  start
13  1/1/19 13:00   d    end
14  1/1/19 14:00   d  start
15  1/1/19 15:00   d    end
16  1/1/19 16:00   a  start
17  1/1/19 17:00   a  start
18  1/1/19 18:00   a  start
19  1/1/19 19:00   a    end
20  1/1/19 20:00   b  start
21  1/1/19 21:00   b    end
22  1/1/19 22:00   c  start
23  1/1/19 23:00   c    end
24   1/2/19 0:00   a    end
25   1/2/19 1:00   b  start
26   1/2/19 2:00   b  start
27   1/2/19 3:00   a  start
28   1/2/19 4:00   c  start
29   1/2/19 5:00   c    end
30   1/2/19 6:00   b  start
31   1/2/19 7:00   b    end
32   1/2/19 8:00   c  start
33   1/2/19 9:00   b  start
34  1/2/19 10:00   b    end

In [14]:
for i in log['API'].unique():
    print(i)

a
b
c
d

In [176]:
log[log['API']=='a']['State'].value_counts()

loga = log[log['API']=='a']

In [46]:
def setStart(row):
    if row['State']=='start':
        return row['Date']
    else:
        return None


log['StartDate'] = loga.apply(setStart,axis=1)

In [44]:
loga['StartDate']=None

<ipython-input-44-a03b325ee864>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loga['StartDate']=None

In [50]:
for ind,row in loga.iteritems():
    if row['State']=='start':
        row['StartDate']=row['Date']

KeyError: 'State'

SyntaxError: unexpected EOF while parsing (<ipython-input-53-f88369339e76>, line 1)

In [55]:
loga.shift(-1)

            Date  API  State StartDate
0    1/1/19 1:00    a    end      None
1    1/1/19 2:00    a    end      None
2    1/1/19 3:00    a  start      None
3    1/1/19 4:00    a    end      None
4   1/1/19 16:00    a  start      None
16  1/1/19 17:00    a  start      None
17  1/1/19 18:00    a  start      None
18  1/1/19 19:00    a    end      None
19   1/2/19 0:00    a    end      None
24   1/2/19 3:00    a  start      None
27           NaN  NaN    NaN       NaN

In [177]:
logas = loga[loga['State']=='start']
logae = loga[loga['State']=='end']

In [182]:
loga['Date']=pd.to_datetime(loga['Date'])
log['Date']=pd.to_datetime(log['Date'])

<ipython-input-182-e83d115555b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loga['Date']=pd.to_datetime(loga['Date'])

In [81]:
position = loga.columns.get_loc('Date')
#loga['StartDate'] =  loga.iloc[1:, position] - loga.iat[0, position]
loga.loc[slice(None),'StartDate'] =  loga.iloc[1:, position] - loga.iat[0, position]

In [82]:
loga.rename(columns={'StartDate':'Delta'},inplace=True)

In [206]:
log.loc[:,'Diff'] = log.iat[0,0]-log.iat[0,0]

In [187]:
logas = loga[loga['State']=='start']
logae = loga[loga['State']=='end']
logas['Date']=pd.to_datetime(logas['Date'])
logae['Date']=pd.to_datetime(logae['Date'])

<ipython-input-187-f950db334162>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  logas['Date']=pd.to_datetime(logas['Date'])
<ipython-input-187-f950db334162>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  logae['Date']=pd.to_datetime(logae['Date'])

In [158]:
startDateList =[]
for index,row in logas.iterrows():
    startDateList.append(loga.index[loga['Date']==row['Date']].values[0])
print(startDateList)

[0, 3, 16, 17, 18, 27]

In [159]:
endDateList =[]
for index,row in logae.iterrows():
    endDateList.append(loga.index[loga['Date']==row['Date']].values[0])
print(endDateList)

[1, 2, 4, 19, 24]

In [201]:
ce,cs = 0,0
for row in startDateList:
    print(f'row = {row} cs = {cs} ce = {ce}') 
    try:
        if logae.iloc[ce]['Date'] > logas.iloc[cs]['Date']:
            print(logae.iloc[ce]['Date'],logas.iloc[cs]['Date'])
            print(logae.iloc[ce]['Date']-logas.iloc[cs]['Date'])
            log.iloc[row]['Diff']=logae.iloc[ce]['Date']-logas.iloc[cs]['Date']
            cs = cs +1
            ce = ce +1
        else:
            ce = ce +1
    except:
        pass

row = 0 cs = 0 ce = 0
2019-01-01 01:00:00 2019-01-01 00:00:00
0 days 01:00:00
row = 3 cs = 1 ce = 1
row = 16 cs = 1 ce = 2
2019-01-01 04:00:00 2019-01-01 03:00:00
0 days 01:00:00
row = 17 cs = 2 ce = 3
2019-01-01 19:00:00 2019-01-01 16:00:00
0 days 03:00:00
row = 18 cs = 3 ce = 4
2019-01-02 00:00:00 2019-01-01 17:00:00
0 days 07:00:00
row = 27 cs = 4 ce = 5

<ipython-input-201-35486f3d17b8>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log.iloc[row]['Diff']=logae.iloc[ce]['Date']-logas.iloc[cs]['Date']

In [214]:
ce,cs = 0,0
for row in endDateList:
    print(f'row = {row} cs = {cs} ce = {ce}') 
    try:
        if logae.iat[ce,0] > logas.iat[cs,0]:
            print(logae.iat[ce,0],logas.iat[cs,0])
            print(logae.iat[ce,0]-logas.iat[cs,0])
            log.iat[row,3]=logae.iat[ce,0]-logas.iat[cs,0]
            cs = cs +1
            ce = ce +1
        else:
            ce = ce +1
    except:
        pass

row = 0 cs = 0 ce = 0
2019-01-01 01:00:00 2019-01-01 00:00:00
0 days 01:00:00
row = 3 cs = 1 ce = 1
row = 16 cs = 1 ce = 2
2019-01-01 04:00:00 2019-01-01 03:00:00
0 days 01:00:00
row = 17 cs = 2 ce = 3
2019-01-01 19:00:00 2019-01-01 16:00:00
0 days 03:00:00
row = 18 cs = 3 ce = 4
2019-01-02 00:00:00 2019-01-01 17:00:00
0 days 07:00:00
row = 27 cs = 4 ce = 5

In [215]:
log

                  Date API  State     Diff
0  2019-01-01 00:00:00   a  start 01:00:00
1  2019-01-01 01:00:00   a    end 00:00:00
2  2019-01-01 02:00:00   a    end 00:00:00
3  2019-01-01 03:00:00   a  start 00:00:00
4  2019-01-01 04:00:00   a    end 00:00:00
5  2019-01-01 05:00:00   b    end 00:00:00
6  2019-01-01 06:00:00   b  start 00:00:00
7  2019-01-01 07:00:00   b    end 00:00:00
8  2019-01-01 08:00:00   c  start 00:00:00
9  2019-01-01 09:00:00   c  start 00:00:00
10 2019-01-01 10:00:00   c    end 00:00:00
11 2019-01-01 11:00:00   c    end 00:00:00
12 2019-01-01 12:00:00   d  start 00:00:00
13 2019-01-01 13:00:00   d    end 00:00:00
14 2019-01-01 14:00:00   d  start 00:00:00
15 2019-01-01 15:00:00   d    end 00:00:00
16 2019-01-01 16:00:00   a  start 01:00:00
17 2019-01-01 17:00:00   a  start 03:00:00
18 2019-01-01 18:00:00   a  start 07:00:00
19 2019-01-01 19:00:00   a    end 00:00:00
20 2019-01-01 20:00:00   b  start 00:00:00
21 2019-01-01 21:00:00   b    end 00:00:00
22 2019-01-01 22:00:00   c  start 00:00:00
23 2019-01-01 23:00:00   c    end 00:00:00
24 2019-01-02 00:00:00   a    end 00:00:00
25 2019-01-02 01:00:00   b  start 00:00:00
26 2019-01-02 02:00:00   b  start 00:00:00
27 2019-01-02 03:00:00   a  start 00:00:00
28 2019-01-02 04:00:00   c  start 00:00:00
29 2019-01-02 05:00:00   c    end 00:00:00
30 2019-01-02 06:00:00   b  start 00:00:00
31 2019-01-02 07:00:00   b    end 00:00:00
32 2019-01-02 08:00:00   c  start 00:00:00
33 2019-01-02 09:00:00   b  start 00:00:00
34 2019-01-02 10:00:00   b    end 00:00:00

In [221]:


def updateDiff(Data,APIName):
    log = Data
    loga = log[log['API']==APIName]
    logas = loga[loga['State']=='start']
    logae = loga[loga['State']=='end']

    startDateList =[]
    for index,row in logas.iterrows():
        startDateList.append(loga.index[loga['Date']==row['Date']].values[0])
    print(startDateList)

    endDateList =[]
    for index,row in logae.iterrows():
        endDateList.append(loga.index[loga['Date']==row['Date']].values[0])
    print(endDateList)

    ce,cs = 0,0
    for row in endDateList:
        print(f'row = {row} cs = {cs} ce = {ce}') 
        try:
            if logae.iat[ce,0] > logas.iat[cs,0]:
                print(logae.iat[ce,0],logas.iat[cs,0])
                print(logae.iat[ce,0]-logas.iat[cs,0])
                log.iat[row,3]=logae.iat[ce,0]-logas.iat[cs,0]
                cs = cs +1
                ce = ce +1
            else:
                ce = ce +1
        except:
            pass

log = pd.read_csv('~/Downloads/log.csv',parse_dates=True)
log['Date']=pd.to_datetime(log['Date'])
log.loc[:,'Diff'] = log.iat[0,0]-log.iat[0,0]
for api in log['API'].unique():
    updateDiff(log,api)

[0, 3, 16, 17, 18, 27]
[1, 2, 4, 19, 24]
row = 1 cs = 0 ce = 0
2019-01-01 01:00:00 2019-01-01 00:00:00
0 days 01:00:00
row = 2 cs = 1 ce = 1
row = 4 cs = 1 ce = 2
2019-01-01 04:00:00 2019-01-01 03:00:00
0 days 01:00:00
row = 19 cs = 2 ce = 3
2019-01-01 19:00:00 2019-01-01 16:00:00
0 days 03:00:00
row = 24 cs = 3 ce = 4
2019-01-02 00:00:00 2019-01-01 17:00:00
0 days 07:00:00
[6, 20, 25, 26, 30, 33]
[5, 7, 21, 31, 34]
row = 5 cs = 0 ce = 0
row = 7 cs = 0 ce = 1
2019-01-01 07:00:00 2019-01-01 06:00:00
0 days 01:00:00
row = 21 cs = 1 ce = 2
2019-01-01 21:00:00 2019-01-01 20:00:00
0 days 01:00:00
row = 31 cs = 2 ce = 3
2019-01-02 07:00:00 2019-01-02 01:00:00
0 days 06:00:00
row = 34 cs = 3 ce = 4
2019-01-02 10:00:00 2019-01-02 02:00:00
0 days 08:00:00
[8, 9, 22, 28, 32]
[10, 11, 23, 29]
row = 10 cs = 0 ce = 0
2019-01-01 10:00:00 2019-01-01 08:00:00
0 days 02:00:00
row = 11 cs = 1 ce = 1
2019-01-01 11:00:00 2019-01-01 09:00:00
0 days 02:00:00
row = 23 cs = 2 ce = 2
2019-01-01 23:00:00 2019-01-01 22:00:00
0 days 01:00:00
row = 29 cs = 3 ce = 3
2019-01-02 05:00:00 2019-01-02 04:00:00
0 days 01:00:00
[12, 14]
[13, 15]
row = 13 cs = 0 ce = 0
2019-01-01 13:00:00 2019-01-01 12:00:00
0 days 01:00:00
row = 15 cs = 1 ce = 1
2019-01-01 15:00:00 2019-01-01 14:00:00
0 days 01:00:00

In [226]:
log[log['State']=='end']

                  Date API State     Diff
1  2019-01-01 01:00:00   a   end 01:00:00
2  2019-01-01 02:00:00   a   end 00:00:00
4  2019-01-01 04:00:00   a   end 01:00:00
5  2019-01-01 05:00:00   b   end 00:00:00
7  2019-01-01 07:00:00   b   end 01:00:00
10 2019-01-01 10:00:00   c   end 02:00:00
11 2019-01-01 11:00:00   c   end 02:00:00
13 2019-01-01 13:00:00   d   end 01:00:00
15 2019-01-01 15:00:00   d   end 01:00:00
19 2019-01-01 19:00:00   a   end 03:00:00
21 2019-01-01 21:00:00   b   end 01:00:00
23 2019-01-01 23:00:00   c   end 01:00:00
24 2019-01-02 00:00:00   a   end 07:00:00
29 2019-01-02 05:00:00   c   end 01:00:00
31 2019-01-02 07:00:00   b   end 06:00:00
34 2019-01-02 10:00:00   b   end 08:00:00

In [227]:
log[log['API']=='b']['Date'].min()

Timestamp('2019-01-01 05:00:00')

In [257]:
def updateDiff(Data,APIName):
    log = Data
    loga = log[log['API']==APIName]
    logas = loga[loga['State']=='start']
    logae = loga[loga['State']=='end']

    startDateList =[]
    for index,row in logas.iterrows():
        startDateList.append(loga.index[loga['Date']==row['Date']].values[0])
    print(startDateList)

    endDateList =[]
    for index,row in logae.iterrows():
        endDateList.append(loga.index[loga['Date']==row['Date']].values[0])
    print(endDateList)
    
    populateTimeFromStart(log)
    
    ce,cs = 0,0
    for row in endDateList:
        print(f'row = {row} cs = {cs} ce = {ce}') 
        try:
            if logae.iat[ce,0] > logas.iat[cs,0]:
                print(logae.iat[ce,0],logas.iat[cs,0])
                print(logae.iat[ce,0]-logas.iat[cs,0])
                log.iat[row,3]=logae.iat[ce,0]-logas.iat[cs,0]
                cs = cs +1
                ce = ce +1
            else:
                ce = ce +1
        except:
            pass

def populateTimeFromStart(Data):
    dictapi = {}
    for api in Data.API.unique():
        mintime = Data[Data['API']==api]['Date'].min()
        dictapi.update({api:mintime})
    for ind in log.index: 
        log['TimeFromStart'][ind] = log['Date'][ind] - dictapi[log['API'][ind]]

        
log = pd.read_csv('~/Downloads/log.csv',parse_dates=True)
log['Date']=pd.to_datetime(log['Date'])
log.loc[:,'Diff'] = log.iat[0,0]-log.iat[0,0]
log.loc[:,'TimeFromStart'] = log.iat[0,0]-log.iat[0,0]
for api in log['API'].unique():
    updateDiff(log,api)

[0, 3, 16, 17, 18, 27]
[1, 2, 4, 19, 24]
row = 1 cs = 0 ce = 0
2019-01-01 01:00:00 2019-01-01 00:00:00
0 days 01:00:00
row = 2 cs = 1 ce = 1
row = 4 cs = 1 ce = 2
2019-01-01 04:00:00 2019-01-01 03:00:00
0 days 01:00:00
row = 19 cs = 2 ce = 3
2019-01-01 19:00:00 2019-01-01 16:00:00
0 days 03:00:00
row = 24 cs = 3 ce = 4
2019-01-02 00:00:00 2019-01-01 17:00:00
0 days 07:00:00
[6, 20, 25, 26, 30, 33]
[5, 7, 21, 31, 34]
row = 5 cs = 0 ce = 0
row = 7 cs = 0 ce = 1
2019-01-01 07:00:00 2019-01-01 06:00:00
0 days 01:00:00
row = 21 cs = 1 ce = 2
2019-01-01 21:00:00 2019-01-01 20:00:00
0 days 01:00:00
row = 31 cs = 2 ce = 3
2019-01-02 07:00:00 2019-01-02 01:00:00
0 days 06:00:00
row = 34 cs = 3 ce = 4
2019-01-02 10:00:00 2019-01-02 02:00:00
0 days 08:00:00
[8, 9, 22, 28, 32]
[10, 11, 23, 29]
row = 10 cs = 0 ce = 0
2019-01-01 10:00:00 2019-01-01 08:00:00
0 days 02:00:00
row = 11 cs = 1 ce = 1
2019-01-01 11:00:00 2019-01-01 09:00:00
0 days 02:00:00
row = 23 cs = 2 ce = 2
2019-01-01 23:00:00 2019-01-01 22:00:00
0 days 01:00:00
row = 29 cs = 3 ce = 3
2019-01-02 05:00:00 2019-01-02 04:00:00
0 days 01:00:00
[12, 14]
[13, 15]
row = 13 cs = 0 ce = 0
2019-01-01 13:00:00 2019-01-01 12:00:00
0 days 01:00:00
row = 15 cs = 1 ce = 1
2019-01-01 15:00:00 2019-01-01 14:00:00
0 days 01:00:00

<ipython-input-257-20928749cff4>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log['TimeFromStart'][ind] = log['Date'][ind] - dictapi[log['API'][ind]]

In [258]:
log

                  Date API  State     Diff   TimeFromStart
0  2019-01-01 00:00:00   a  start 00:00:00 0 days 00:00:00
1  2019-01-01 01:00:00   a    end 01:00:00 0 days 01:00:00
2  2019-01-01 02:00:00   a    end 00:00:00 0 days 02:00:00
3  2019-01-01 03:00:00   a  start 00:00:00 0 days 03:00:00
4  2019-01-01 04:00:00   a    end 01:00:00 0 days 04:00:00
5  2019-01-01 05:00:00   b    end 00:00:00 0 days 00:00:00
6  2019-01-01 06:00:00   b  start 00:00:00 0 days 01:00:00
7  2019-01-01 07:00:00   b    end 01:00:00 0 days 02:00:00
8  2019-01-01 08:00:00   c  start 00:00:00 0 days 00:00:00
9  2019-01-01 09:00:00   c  start 00:00:00 0 days 01:00:00
10 2019-01-01 10:00:00   c    end 02:00:00 0 days 02:00:00
11 2019-01-01 11:00:00   c    end 02:00:00 0 days 03:00:00
12 2019-01-01 12:00:00   d  start 00:00:00 0 days 00:00:00
13 2019-01-01 13:00:00   d    end 01:00:00 0 days 01:00:00
14 2019-01-01 14:00:00   d  start 00:00:00 0 days 02:00:00
15 2019-01-01 15:00:00   d    end 01:00:00 0 days 03:00:00
16 2019-01-01 16:00:00   a  start 00:00:00 0 days 16:00:00
17 2019-01-01 17:00:00   a  start 00:00:00 0 days 17:00:00
18 2019-01-01 18:00:00   a  start 00:00:00 0 days 18:00:00
19 2019-01-01 19:00:00   a    end 03:00:00 0 days 19:00:00
20 2019-01-01 20:00:00   b  start 00:00:00 0 days 15:00:00
21 2019-01-01 21:00:00   b    end 01:00:00 0 days 16:00:00
22 2019-01-01 22:00:00   c  start 00:00:00 0 days 14:00:00
23 2019-01-01 23:00:00   c    end 01:00:00 0 days 15:00:00
24 2019-01-02 00:00:00   a    end 07:00:00 1 days 00:00:00
25 2019-01-02 01:00:00   b  start 00:00:00 0 days 20:00:00
26 2019-01-02 02:00:00   b  start 00:00:00 0 days 21:00:00
27 2019-01-02 03:00:00   a  start 00:00:00 1 days 03:00:00
28 2019-01-02 04:00:00   c  start 00:00:00 0 days 20:00:00
29 2019-01-02 05:00:00   c    end 01:00:00 0 days 21:00:00
30 2019-01-02 06:00:00   b  start 00:00:00 1 days 01:00:00
31 2019-01-02 07:00:00   b    end 06:00:00 1 days 02:00:00
32 2019-01-02 08:00:00   c  start 00:00:00 1 days 00:00:00
33 2019-01-02 09:00:00   b  start 00:00:00 1 days 04:00:00
34 2019-01-02 10:00:00   b    end 08:00:00 1 days 05:00:00

In [259]:
log[log['API']=='a']

                  Date API  State     Diff   TimeFromStart
0  2019-01-01 00:00:00   a  start 00:00:00 0 days 00:00:00
1  2019-01-01 01:00:00   a    end 01:00:00 0 days 01:00:00
2  2019-01-01 02:00:00   a    end 00:00:00 0 days 02:00:00
3  2019-01-01 03:00:00   a  start 00:00:00 0 days 03:00:00
4  2019-01-01 04:00:00   a    end 01:00:00 0 days 04:00:00
16 2019-01-01 16:00:00   a  start 00:00:00 0 days 16:00:00
17 2019-01-01 17:00:00   a  start 00:00:00 0 days 17:00:00
18 2019-01-01 18:00:00   a  start 00:00:00 0 days 18:00:00
19 2019-01-01 19:00:00   a    end 03:00:00 0 days 19:00:00
24 2019-01-02 00:00:00   a    end 07:00:00 1 days 00:00:00
27 2019-01-02 03:00:00   a  start 00:00:00 1 days 03:00:00

In [261]:
log[log['API']=='c']

                  Date API  State     Diff   TimeFromStart
8  2019-01-01 08:00:00   c  start 00:00:00 0 days 00:00:00
9  2019-01-01 09:00:00   c  start 00:00:00 0 days 01:00:00
10 2019-01-01 10:00:00   c    end 02:00:00 0 days 02:00:00
11 2019-01-01 11:00:00   c    end 02:00:00 0 days 03:00:00
22 2019-01-01 22:00:00   c  start 00:00:00 0 days 14:00:00
23 2019-01-01 23:00:00   c    end 01:00:00 0 days 15:00:00
28 2019-01-02 04:00:00   c  start 00:00:00 0 days 20:00:00
29 2019-01-02 05:00:00   c    end 01:00:00 0 days 21:00:00
32 2019-01-02 08:00:00   c  start 00:00:00 1 days 00:00:00

In [256]:
for ind in log.index: 
     log['TimeFromStart'] = log['Date'][ind] - dictapi[log['API'][ind]]

2019-01-01 00:00:00 a
2019-01-01 01:00:00 a
2019-01-01 02:00:00 a
2019-01-01 03:00:00 a
2019-01-01 04:00:00 a
2019-01-01 05:00:00 b
2019-01-01 06:00:00 b
2019-01-01 07:00:00 b
2019-01-01 08:00:00 c
2019-01-01 09:00:00 c
2019-01-01 10:00:00 c
2019-01-01 11:00:00 c
2019-01-01 12:00:00 d
2019-01-01 13:00:00 d
2019-01-01 14:00:00 d
2019-01-01 15:00:00 d
2019-01-01 16:00:00 a
2019-01-01 17:00:00 a
2019-01-01 18:00:00 a
2019-01-01 19:00:00 a
2019-01-01 20:00:00 b
2019-01-01 21:00:00 b
2019-01-01 22:00:00 c
2019-01-01 23:00:00 c
2019-01-02 00:00:00 a
2019-01-02 01:00:00 b
2019-01-02 02:00:00 b
2019-01-02 03:00:00 a
2019-01-02 04:00:00 c
2019-01-02 05:00:00 c
2019-01-02 06:00:00 b
2019-01-02 07:00:00 b
2019-01-02 08:00:00 c
2019-01-02 09:00:00 b
2019-01-02 10:00:00 b