In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('data/covid-01APR.csv')

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8102 entries, 0 to 8101
Data columns (total 10 columns):
dateRep                    8102 non-null object
day                        8102 non-null int64
month                      8102 non-null int64
year                       8102 non-null int64
cases                      8102 non-null int64
deaths                     8102 non-null int64
countriesAndTerritories    8102 non-null object
geoId                      8084 non-null object
countryterritoryCode       8031 non-null object
popData2018                8084 non-null float64
dtypes: float64(1), int64(5), object(4)
memory usage: 633.1+ KB

In [12]:
covid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,01/04/2020,1,4,2020,25,0,Afghanistan,AF,AFG,37172386.0
1,31/03/2020,31,3,2020,27,0,Afghanistan,AF,AFG,37172386.0
2,30/03/2020,30,3,2020,8,1,Afghanistan,AF,AFG,37172386.0
3,29/03/2020,29,3,2020,15,1,Afghanistan,AF,AFG,37172386.0
4,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
8097,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
8098,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
8099,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
8100,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
8101,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [4]:
covid.shape

(8102, 10)

In [11]:
covid['geoId'].isna().sum() , covid['countryterritoryCode'].isna().sum(),\
covid['popData2018'].isna().sum()

(18, 71, 18)

In [28]:
cases = covid.sort_values(by=['dateRep','countriesAndTerritories']).\
groupby(['dateRep','countriesAndTerritories']).agg({'cases':'cumsum'})

In [29]:
type(cases)

pandas.core.frame.DataFrame

In [31]:
cases[cases['cases']>0]

                                    cases
dateRep    countriesAndTerritories
01/02/2020 Australia                    2
           Canada                       1
           China                     2095
           Germany                      2
           Japan                        1
...                                   ...
31/03/2020 Uzbekistan                   4
           Venezuela                   16
           Vietnam                      1
           Zambia                       6
31/12/2019 China                       27

[3551 rows x 1 columns]

In [32]:
cases = covid.sort_values(by=['dateRep']).\
groupby(['dateRep']).agg({'cases':'cumsum'})

In [39]:
cases.reset_index(inplace=True)
cases.set_index('dateRep',inplace=True)

In [42]:
cases

           countriesAndTerritories  cases
dateRep
01/01/2020             Philippines      0
01/01/2020                   Italy      0
01/01/2020              Luxembourg      0
01/01/2020                  Greece      0
01/01/2020                   Spain      0
...                            ...    ...
31/12/2019                  Norway      0
31/12/2019                  Russia      0
31/12/2019                  Greece      0
31/12/2019                 Bahrain      0
31/12/2019                   China     27

[8102 rows x 2 columns]

In [43]:
cases.groupby('dateRep').cumsum()

            cases
dateRep
01/01/2020      0
01/01/2020      0
01/01/2020      0
01/01/2020      0
01/01/2020      0
...           ...
31/12/2019      0
31/12/2019      0
31/12/2019      0
31/12/2019      0
31/12/2019     27

[8102 rows x 1 columns]

In [47]:
covid = pd.read_csv('data/covid-01APR.csv')

In [50]:
covid['dateRep'] = pd.to_datetime(covid['dateRep'])

In [51]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8102 entries, 0 to 8101
Data columns (total 10 columns):
dateRep                    8102 non-null datetime64[ns]
day                        8102 non-null int64
month                      8102 non-null int64
year                       8102 non-null int64
cases                      8102 non-null int64
deaths                     8102 non-null int64
countriesAndTerritories    8102 non-null object
geoId                      8084 non-null object
countryterritoryCode       8031 non-null object
popData2018                8084 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 633.1+ KB

In [63]:
covid.sort_values('year').groupby(['year']).\
  agg({'cases':'sum','deaths':'sum'}).cumsum().sort_values('year')

       cases  deaths
year
2019      27       0
2020  853200   41887

In [74]:
covid.sort_values('geoId',na_position='first')
covid[covid['geoId'].isna()]['countriesAndTerritories'].unique()
covid[covid['countryterritoryCode'].isna()]['countriesAndTerritories'].unique()
covid[covid['popData2018'].isna()]['countriesAndTerritories'].unique()

array(['Anguilla', 'Eritrea', 'Falkland_Islands_(Malvinas)'], dtype=object)