In [1]:
import pandas as pd

In [7]:
jb = pd.read_csv('data/jamesbond.csv')
jb['Actor']=jb['Actor'].astype('category')

In [8]:
jb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               26 non-null     object
 1   Year               26 non-null     int64
 2   Actor              26 non-null     category
 3   Director           26 non-null     object
 4   Box Office         26 non-null     float64
 5   Budget             26 non-null     float64
 6   Bond Actor Salary  18 non-null     float64
dtypes: category(1), float64(3), int64(1), object(2)
memory usage: 1.7+ KB

In [9]:
bond = pd.read_csv('data/jamesbond.csv',index_col="Film")
bond['Actor']=bond['Actor'].astype('category')

In [10]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [20]:
# Alternatively using a set_index() function

bond = pd.read_csv('data/jamesbond.csv')
bond['Actor']=bond['Actor'].astype('category')
bond.set_index("Film",inplace=True)

In [21]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [22]:
bond.reset_index(inplace=True)

In [23]:
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

using indexes to get values

In [25]:
bond = pd.read_csv('data/jamesbond.csv',index_col='Film')

In [26]:
bond.sort_index(inplace=True)
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [27]:
# search a value by index, for large dataset, this will have performance improvements
bond.loc['Casino Royale']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [28]:
bond.loc['GoldenEye']

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

In [30]:
# range search
bond.loc['A View to a Kill':'Diamonds Are Forever']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [32]:
bond.loc['Never Say Never Again':]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [33]:
bond.loc[:'The Spy Who Loved Me']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [35]:
bond.loc[['Skyfall','Octopussy']]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [37]:
#check if value exists in index
"Junk Bond" in bond.index

False

In [39]:
type(bond.index)

pandas.core.indexes.base.Index

In [40]:
bond.iloc[15]

Year                           1969
Actor                George Lazenby
Director              Peter R. Hunt
Box Office                    291.5
Budget                         37.3
Bond Actor Salary               0.6
Name: On Her Majesty's Secret Service, dtype: object

In [43]:
bond.head(16)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [56]:
# get every even index item
bond.iloc[range(0,bond['Year'].count(),2)]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

In [58]:
# get every even year
bond[bond['Year']%2==0].sort_values('Year')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [63]:
# serch for column begining with character
bond[bond['Actor'].str.startswith('S')]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [68]:
# search for index begining with character
bond[bond.index.str.startswith('S')]

         Year         Actor    Director  Box Office  Budget  Bond Actor Salary
Film
Skyfall  2012  Daniel Craig  Sam Mendes       943.5   170.2               14.5
Spectre  2015  Daniel Craig  Sam Mendes       726.7   206.3                NaN

In [71]:
# search for index contains character
bond[bond.index.str.contains('with')]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [87]:
# other options with loc
bond.loc['Skyfall',['Actor','Director','Budget']]

Actor       Daniel Craig
Director      Sam Mendes
Budget             170.2
Name: Skyfall, dtype: object

In [93]:
bond.loc[bond['Actor']=='Sean Connery','Actor'] = 'Sir Sean Connery'

In [94]:
bond.loc[bond['Actor'].str.contains('Sean Connery')]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [95]:
# Renaming columns and Indexes

In [97]:
bond.rename(columns={'Year':'year','Actor':'actor'})

,year,actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [110]:
# remove rows with index (Film) begining with T
bond.drop(bond[bond.index.str.startswith('T')].index)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [112]:
# remove columns
bond.drop(['Box Office','Bond Actor Salary'],axis=1)
# or 
# bond.drop('Box Office',axis='columns')

,Year,Actor,Director,Budget
Film,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3
Casino Royale,1967,David Niven,Ken Hughes,85.0
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,34.7
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2
Dr. No,1962,Sir Sean Connery,Terence Young,7.0
For Your Eyes Only,1981,Roger Moore,John Glen,60.2
From Russia with Love,1963,Sir Sean Connery,Terence Young,12.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,18.6
Licence to Kill,1989,Timothy Dalton,John Glen,56.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,86.0
Octopussy,1983,Roger Moore,John Glen,53.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4
Skyfall,2012,Daniel Craig,Sam Mendes,170.2
Spectre,2015,Daniel Craig,Sam Mendes,206.3
The Living Daylights,1987,Timothy Dalton,John Glen,68.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3
Thunderball,1965,Sir Sean Connery,Terence Young,41.9
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,59.9

# other ways to delete columns can be 

### bo = bind.pop('Box Office')
# this removes the Box Office column from the dataframe and returns the series


### del bond['Box Office']
# this will delete the column from the dataframe

In [117]:
bond.sample(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [118]:
# getting percentage of total rows in random order
bond.sample(frac=.25)
# this will return 25% of total rows in random order

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6

In [119]:
# can also extract random columns
bond.sample(3,axis=1)

                                 Year  Budget            Director
Film
A View to a Kill                 1985    54.5           John Glen
Casino Royale                    2006   145.3     Martin Campbell
Casino Royale                    1967    85.0          Ken Hughes
Diamonds Are Forever             1971    34.7        Guy Hamilton
Die Another Day                  2002   154.2        Lee Tamahori
Dr. No                           1962     7.0       Terence Young
For Your Eyes Only               1981    60.2           John Glen
From Russia with Love            1963    12.6       Terence Young
GoldenEye                        1995    76.9     Martin Campbell
Goldfinger                       1964    18.6        Guy Hamilton
Licence to Kill                  1989    56.7           John Glen
Live and Let Die                 1973    30.8        Guy Hamilton
Moonraker                        1979    91.5       Lewis Gilbert
Never Say Never Again            1983    86.0      Irvin Kershner
Octopussy                        1983    53.9           John Glen
On Her Majesty's Secret Service  1969    37.3       Peter R. Hunt
Quantum of Solace                2008   181.4        Marc Forster
Skyfall                          2012   170.2          Sam Mendes
Spectre                          2015   206.3          Sam Mendes
The Living Daylights             1987    68.8           John Glen
The Man with the Golden Gun      1974    27.7        Guy Hamilton
The Spy Who Loved Me             1977    45.1       Lewis Gilbert
The World Is Not Enough          1999   158.3       Michael Apted
Thunderball                      1965    41.9       Terence Young
Tomorrow Never Dies              1997   133.9  Roger Spottiswoode
You Only Live Twice              1967    59.9       Lewis Gilbert

In [122]:
# here frac is 50% of 6 columns = 3 columns, all rows are returned
bond.sample(frac=.5,axis=1)

                                 Budget  Bond Actor Salary  Year
Film
A View to a Kill                   54.5                9.1  1985
Casino Royale                     145.3                3.3  2006
Casino Royale                      85.0                NaN  1967
Diamonds Are Forever               34.7                5.8  1971
Die Another Day                   154.2               17.9  2002
Dr. No                              7.0                0.6  1962
For Your Eyes Only                 60.2                NaN  1981
From Russia with Love              12.6                1.6  1963
GoldenEye                          76.9                5.1  1995
Goldfinger                         18.6                3.2  1964
Licence to Kill                    56.7                7.9  1989
Live and Let Die                   30.8                NaN  1973
Moonraker                          91.5                NaN  1979
Never Say Never Again              86.0                NaN  1983
Octopussy                          53.9                7.8  1983
On Her Majesty's Secret Service    37.3                0.6  1969
Quantum of Solace                 181.4                8.1  2008
Skyfall                           170.2               14.5  2012
Spectre                           206.3                NaN  2015
The Living Daylights               68.8                5.2  1987
The Man with the Golden Gun        27.7                NaN  1974
The Spy Who Loved Me               45.1                NaN  1977
The World Is Not Enough           158.3               13.5  1999
Thunderball                        41.9                4.7  1965
Tomorrow Never Dies               133.9               10.0  1997
You Only Live Twice                59.9                4.4  1967

In [124]:
bond.sort_values('Box Office',ascending=False).head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [125]:
bond.nlargest(3,'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [126]:
bond.sort_values('Box Office').head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [127]:
bond.nsmallest(3,'Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [129]:
bond['Box Office'].nlargest(3)

Film
Skyfall        943.5
Thunderball    848.1
Goldfinger     820.4
Name: Box Office, dtype: float64

In [130]:
bond['Box Office'].nsmallest(3)

Film
Licence to Kill                    250.9
A View to a Kill                   275.2
On Her Majesty's Secret Service    291.5
Name: Box Office, dtype: float64

In [135]:
bond.where(bond['Budget']>100).sort_values('Budget',ascending=False)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015.0,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008.0,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
The World Is Not Enough,1999.0,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002.0,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006.0,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Tomorrow Never Dies,1997.0,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,NaN,NaN,NaN,NaN,NaN,NaN
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

# Using query 
we have to remove any column names with space

In [137]:
#bond.rename(columns={'Box Office':'BoxOffice','Bond Actor Salary':'BondSalary'},inplace=True)

In [139]:
bond = pd.read_csv('data/jamesbond.csv',index_col="Film")
bond['Actor']=bond['Actor'].astype('category')

In [140]:
# renaming columns using list comprehension
bond.columns=[column_name.replace(' ','_') for column_name in bond.columns]

# or 
# bond.columns = bond.columns.str.replace(' ','_')

In [141]:
bond.head(3)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [158]:
# query is supposed to be faster in searches on large dataframes
bond.query('Actor == "Sean Connery" & Year > 1965')
#bond.query('Actor == "Timothy Dalton" & Budget>60')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [159]:
# Remove nulls from Bond_Actor_Salary
# in python NaN is not equal to NaN
bond.query('Actor == "Sean Connery" & Year > 1965 & Bond_Actor_Salary == Bond_Actor_Salary')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [162]:
bond.query('Actor == "Sean Connery" and Year > 1965 and Bond_Actor_Salary == Bond_Actor_Salary')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

In [163]:
bond.query('Actor in ["Sean Connery","Roger Moore"] & Year > 1965 & Bond_Actor_Salary == Bond_Actor_Salary')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

# Apply method

In [169]:
bond['Box_Office'].apply(lambda bo: str(bo) + " Millions!")

Film
Dr. No                             448.8 Millions!
From Russia with Love              543.8 Millions!
Goldfinger                         820.4 Millions!
Thunderball                        848.1 Millions!
Casino Royale                      315.0 Millions!
You Only Live Twice                514.2 Millions!
On Her Majesty's Secret Service    291.5 Millions!
Diamonds Are Forever               442.5 Millions!
Live and Let Die                   460.3 Millions!
The Man with the Golden Gun        334.0 Millions!
The Spy Who Loved Me               533.0 Millions!
Moonraker                          535.0 Millions!
For Your Eyes Only                 449.4 Millions!
Never Say Never Again              380.0 Millions!
Octopussy                          373.8 Millions!
A View to a Kill                   275.2 Millions!
The Living Daylights               313.5 Millions!
Licence to Kill                    250.9 Millions!
GoldenEye                          518.5 Millions!
Tomorrow Never Dies                463.2 Millions!
The World Is Not Enough            439.5 Millions!
Die Another Day                    465.4 Millions!
Casino Royale                      581.5 Millions!
Quantum of Solace                  514.2 Millions!
Skyfall                            943.5 Millions!
Spectre                            726.7 Millions!
Name: Box_Office, dtype: object

In [186]:
def critic(row):
    review=''
    actor = row[1]
    budget = row[4]
    if actor in ('Pierce Brosnan','Daniel Craig','Sean Connery'):
        review = review + ' Good'
    elif actor =='Timothy Dalton':
        review = review + ' Bad'
    else:
        review = review + ' Ugly'
    if budget>100:
        review = review + ' ,Costly'
    return review

In [188]:
bond['MyReview'] = bond.apply(critic,axis='columns')

In [189]:
bond

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary,MyReview
Film,,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,Good
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,Good
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,Good
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,Good
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,Ugly
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,Good
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,Ugly
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,Good
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,Ugly
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,Ugly
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,Ugly
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,Ugly
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,Ugly
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,Good
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,Ugly
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,Ugly
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,Bad
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,Bad
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,Good
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,"Good ,Costly"
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,"Good ,Costly"
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,"Good ,Costly"
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,"Good ,Costly"
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,"Good ,Costly"
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,"Good ,Costly"
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,"Good ,Costly"