In [1]:
import pandas as pd
import datetime as dat
from datetime import datetime as dt

In [22]:
bd = dat.datetime(1980,8,14,1,30)

In [25]:
print(bd,bd.strftime('%A'))

1980-08-14 01:30:00 Thursday

In [36]:
bd1 = pd.Timestamp('13-08-1980')

In [37]:
bd1

Timestamp('1980-08-13 00:00:00')

In [38]:
pd.Timestamp("2020-04-07T10:00:01.200")

Timestamp('2020-04-07 10:00:01.200000')

In [45]:
pd.to_datetime(1586292162,unit='s')

Timestamp('2020-04-07 20:42:42')

In [62]:
# frequency is normal days
pd.date_range(start='2020-02-01',end='2020-03-01',freq='D')

DatetimeIndex(['2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
               '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
               '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12',
               '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
               '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
               '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
               '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01'],
              dtype='datetime64[ns]', freq='D')

In [63]:
# frequency is  business days
pd.date_range(start='2020-02-01',end='2020-03-01',freq='B')

DatetimeIndex(['2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
               '2020-02-07', '2020-02-10', '2020-02-11', '2020-02-12',
               '2020-02-13', '2020-02-14', '2020-02-17', '2020-02-18',
               '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-24',
               '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28'],
              dtype='datetime64[ns]', freq='B')

In [64]:
# frequency is  1 day  per week = every Sunday
pd.date_range(start='2020-02-01',end='2020-03-01',freq='W')

DatetimeIndex(['2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01'],
              dtype='datetime64[ns]', freq='W-SUN')

In [65]:
# frequency is 1 day  per week = every friday
pd.date_range(start='2020-02-01',end='2020-03-01',freq='W-FRI')

DatetimeIndex(['2020-02-07', '2020-02-14', '2020-02-21', '2020-02-28'], dtype='datetime64[ns]', freq='W-FRI')

In [67]:
# frequency is 1 day  per month = last day  of month  default
pd.date_range(start='2020-01-01',end='2020-12-01',freq='M')

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30'],
              dtype='datetime64[ns]', freq='M')

In [68]:
# frequency is 1 day  per month = 1st day  of month 
pd.date_range(start='2020-01-01',end='2020-12-01',freq='MS')

DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [69]:
pd.date_range(start='2020-01-01',periods=60,freq="B")

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03',
               '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19',
               '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
               '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24'],
              dtype='datetime64[ns]', freq='B')

In [74]:
dates = pd.date_range(end='2020-01-31',periods=60,freq="B")

In [75]:
dates = pd.Series(dates)

In [76]:
dates.dt.weekday_name

0        Monday
1       Tuesday
2     Wednesday
3      Thursday
4        Friday
5        Monday
6       Tuesday
7     Wednesday
8      Thursday
9        Friday
10       Monday
11      Tuesday
12    Wednesday
13     Thursday
14       Friday
15       Monday
16      Tuesday
17    Wednesday
18     Thursday
19       Friday
20       Monday
21      Tuesday
22    Wednesday
23     Thursday
24       Friday
25       Monday
26      Tuesday
27    Wednesday
28     Thursday
29       Friday
30       Monday
31      Tuesday
32    Wednesday
33     Thursday
34       Friday
35       Monday
36      Tuesday
37    Wednesday
38     Thursday
39       Friday
40       Monday
41      Tuesday
42    Wednesday
43     Thursday
44       Friday
45       Monday
46      Tuesday
47    Wednesday
48     Thursday
49       Friday
50       Monday
51      Tuesday
52    Wednesday
53     Thursday
54       Friday
55       Monday
56      Tuesday
57    Wednesday
58     Thursday
59       Friday
dtype: object

In [80]:
import pandas as pd
import datetime as dat
from datetime import datetime as dt
from pandas_datareader import data

In [86]:
company = "MSFT"
start = "2010-11-01"
end = "2017-04-07"

stock = data.DataReader(name=company,data_source="yahoo",start=start,end=end)

In [87]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1620 entries, 2010-11-01 to 2017-04-07
Data columns (total 6 columns):
High         1620 non-null float64
Low          1620 non-null float64
Open         1620 non-null float64
Close        1620 non-null float64
Volume       1620 non-null float64
Adj Close    1620 non-null float64
dtypes: float64(6)
memory usage: 88.6 KB

In [88]:
stock

                 High        Low       Open      Close       Volume  Adj Close
Date
2010-11-01  27.219999  26.700001  26.879999  26.950001   61912100.0  21.463259
2010-11-02  27.420000  27.020000  27.059999  27.389999   54402100.0  21.813683
2010-11-03  27.490000  26.959999  27.459999  27.030001  110255300.0  21.526970
2010-11-04  27.430000  27.010000  27.410000  27.139999   93599300.0  21.614580
2010-11-05  27.190001  26.530001  27.170000  26.850000  110953700.0  21.383619
...               ...        ...        ...        ...          ...        ...
2017-04-03  65.940002  65.190002  65.809998  65.550003   20400900.0  62.315228
2017-04-04  65.809998  65.279999  65.389999  65.730003   12997400.0  62.486347
2017-04-05  66.349998  65.440002  66.300003  65.559998   21448600.0  62.324734
2017-04-06  66.059998  65.480003  65.599998  65.730003   18103500.0  62.486347
2017-04-07  65.959999  65.440002  65.849998  65.680000   14108500.0  62.438808

[1620 rows x 6 columns]

In [89]:
stock.axes

[DatetimeIndex(['2010-11-01', '2010-11-02', '2010-11-03', '2010-11-04',
                '2010-11-05', '2010-11-08', '2010-11-09', '2010-11-10',
                '2010-11-11', '2010-11-12',
                ...
                '2017-03-27', '2017-03-28', '2017-03-29', '2017-03-30',
                '2017-03-31', '2017-04-03', '2017-04-04', '2017-04-05',
                '2017-04-06', '2017-04-07'],
               dtype='datetime64[ns]', name='Date', length=1620, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [97]:
# stock values on every Week - Monday
stock.loc[pd.date_range(start='2010-11-01',end='2010-12-01',freq='W-Mon')]

                 High        Low       Open      Close      Volume  Adj Close
2010-11-01  27.219999  26.700001  26.879999  26.950001  61912100.0  21.463259
2010-11-08  28.870001  26.580000  26.680000  26.809999  71670800.0  21.351761
2010-11-15  26.500000  26.170000  26.330000  26.200001  51794600.0  20.865948
2010-11-22  25.740000  25.440001  25.650000  25.730000  53350500.0  20.617542
2010-11-29  25.420000  24.930000  25.190001  25.309999  56603600.0  20.281002

In [102]:
bday = pd.Series(pd.date_range(start='1980-08-14',end='2050-08-14',freq=pd.DateOffset(years=1)))

In [107]:
bdf = pd.concat([bday,bday.dt.weekday_name],axis=1)

In [108]:
bdf

            0          1
0  1980-08-14   Thursday
1  1981-08-14     Friday
2  1982-08-14   Saturday
3  1983-08-14     Sunday
4  1984-08-14    Tuesday
..        ...        ...
66 2046-08-14    Tuesday
67 2047-08-14  Wednesday
68 2048-08-14     Friday
69 2049-08-14   Saturday
70 2050-08-14     Sunday

[71 rows x 2 columns]

In [111]:
oneyr =  pd.datetime.now() + pd.DateOffset(years=1)

In [113]:
td = oneyr - pd.datetime.now()

86377

In [123]:
pd.datetime.now() - pd.tseries.offsets.MonthEnd()

Timestamp('2020-03-31 13:44:37.462810')

In [125]:
pd.datetime.now() + pd.tseries.offsets.MonthBegin()

Timestamp('2020-05-01 13:45:37.431624')

In [ ]:
pd.tseries